@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media print {
  @page {
    margin: 1cm;
  }
  
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    zoom: 0.85 !important;
  }
}
